body {
	background: #efefef;
}

body, html {
	padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
}
header{
    background: #258288;
}
.header-container{
    padding: 1em;

    max-width: 1200px;
    margin: auto;
    position: relative;
}
.main-container{
	padding: 1em;
    max-width: 1200px;
    margin: auto;
    position: relative;
}





